@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    margin: 0;
    background-color: #333;
    overflow: overlay;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 18px;
  border-radius: 13px;
  border: 6px solid transparent;

}

::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

/***************************************************************************** HEADER BAŞLANGIÇ ****************************************************************************************/
header{
    position: absolute;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 3;
    top: 0;
}
.logocon{
    flex:1;
    display: flex;
    flex-direction: row;
    text-align: center;    
}
.logo-text{
    padding-left: 3vh;
    height: 64;
    width: 200px;   
}
header li{
    list-style: none;
    display: inline-block;

}
header ul{
padding: 0;
margin: 10px 65px 0 10px;
}
header a{

    list-style: none;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
}
header a.login-btn{
    border: 2px solid white;
}

.logo-text a{
    font-size: 25px;
    text-decoration: none;
    color: #00ADB5;
    line-height: 64px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.signinup{
    flex:1;
    display: flex;
    flex-direction: row-reverse;
}
/************************************************************************* HEADER BİTİŞ ****************************************************************************************/

/************************************************************************* MAIN BAŞLANGIÇ ****************************************************************************************/
/**
 * Tabs
 */
 .tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 3;
    width: 75%;
    max-width: 850px;
    height: 150px;
    transform: translate(0%,70%);
    margin-bottom: 45vh;
    justify-content: center;
}

.main-welcome{
    position:relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.main-welcome video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.2s ease-out;
}

.ticket {
    width: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin-top: 30vh;
    border-radius: 12px;
    color:white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.ticket-list {
    display: flex;
    padding: 10px 14px;
}
.ticket-list + .ticket-list {
    border-left: 1px solid #fdfdfe;
    padding-left: 16px;
}
.ticket-list.depart {
    border-left: 0;
}
.ticket .returning {
    margin-left: 32px;
}
.ticket-text__wrapper {
    display: flex;
    flex-direction: column;
}
.ticket-title {
    font-size: 12px;
}
.ticket-subtitle {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-top: 4px;
    letter-spacing: 0.08em;
    white-space: nowrap;
}
.ticket svg {
    width: 20px;
    margin-left: 60px;
    color: white;
}
.ticket .settings {
    margin: 0;
}
.ticket .search {
    background-color: #00ADB5;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 12px 12px 0;
}
.ticket .search svg {
    margin: 0;
    width: 20px;
}
/************************************************************************** BAŞLIKLAR BAŞLANGIÇ *************************************************************  */
.top-places-text{
    display: block;
    color: whitesmoke;
    width: 26vh;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 7vh;
}
.top-places-text-box{
    display: block;
    color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
}
.provide-text{
    display: block;
    color: whitesmoke;
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
.provide-text-box{
    display: block;
    color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
}
/************************************************************************* BAŞLIKLAR BİTİŞ ************************************************************************  */
.main-welcome h1{
    color: white;
    font-size: 70px;
    width: 100%;
    margin: auto;
}
.main-welcome h2{
    color: white;
    padding-left: 25px;
    font-size: 45px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 62px;
}
.main-welcome h3{
    color: white;
    padding-left: 25px;
    display: block;
    font-size: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cards{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-direction: row;
    padding: 45px;
    flex-shrink: 0;
    align-items: center;
}

.card {
    margin: 0px 15px 15px 15px ;
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: lightblue;
    width:400px;
    height: 37rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}
.card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.checked {
    color: orange;
  }
.card h1 {
    position:absolute;
    inset: auto auto 559px 10px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-size: 20px;
    opacity: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.card p, .card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
}
.card p {
    inset: auto auto 80px 30px;
    font-size: 17px;
}
.card a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}
.card:hover h2 {
    inset: auto auto 250px 30px;
    transition: inset 0.3s ease-out;
}
.card:hover h1 {
    opacity: 1;
}
.card:hover p, .card:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}
.card:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 0.8;
}
.material-symbols-outlined {
    vertical-align: middle;
}
.populer-text h2{
    color: whitesmoke;
    margin: auto;
    margin-top: 25px;
    font-size: 45px;
    width: 100%;
    text-align: center;
}
/************************************************************************* PROVIDE BAŞLANGIÇ ***************************************************************************/
.provide-boxes
{
    /* background-color: #333; */
    /* background-color: white; */
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    gap: 13vh;
}
.provide-box{
    height: 30vh;
    width: 30vh;
}
.provide-car-img{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 15px;
}
.provide-car-title{
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.provide-car-text{
    margin-top: 15px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}
/************************************************************************* PROVIDE BİTİS ****************************************************************************************/

/************************************************************************* SPEICIAL OFFERS BAŞLANGIÇ ****************************************************************************************/
.special-offers-box{
    /* background-color: #333; */
    display: flex;
    height: 36vh;
    justify-content: center;
    align-items: center;
    gap: 13vh;
}
.special-offers{
    border-radius: 10px;
    border: 2px solid white;
    height: 35vh;
    width: 45vh;
    position: relative;
}
.special-offers-img{
    background-color: #333;
    border-radius: 10px 10px 0px 0px;
    height: 21vh;
}.special-offers-img img{
    height: 21vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.special-offers-title{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 8px;
    text-align: left;
}
.special-offers-title h1{
    font-size: 20px;
    display: block;
}
.special-offers-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    margin-right: 1vh;
    height: 4vh;
    width: 16vh;
    position: absolute;
    top: 1;
    right: 0;
}
.special-offers-buttons a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}
.price-text{
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-family: sans-serif;
    border-radius: 15px;
    font-size: 18px;
    margin-left: 1vh;
    height: 4vh;
    width: 16vh;
    position: absolute;
    top: 1;
    right: 1;
}
.price-text h2{
    font-family: sans-serif;
    margin-left: 1vh;
}


/************************************************************************* SPEICIAL OFFERS BİTİŞ ****************************************************************************************/

/************************************************************************* FOOTER BAŞLANGIÇ ****************************************************************************************/

.footer{
    margin-top: 15px;
    padding: 25px 0;
    width: 100%;
    background: #333;
    color: #efefef;
    display: flex;
    font-family: sans-serif;
    
}
.footer div{
    text-align: center;

}
.col-1, .col-2, .col-3 {
    flex: 1;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
form input{
    width: 70%;
    max-width: 45vh;
    height: 5vh;
    border-radius: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 22px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.social-icon{
    margin-top: 30px;

}
.social-icon i {
    font-size: 22px;
    color: whitesmoke;
    margin: 10px;
    cursor: pointer;
}